# Applied Machine Learning Basics

## Python Keywords

In [8]:
import keyword

print(keyword.kwlist)

print("\n\n Total no. of keywords :" , len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']


 Total no. of keywords : 33

# Identifiers

Indentifier is the name given to entities like classes , functions , variables

Rules

->  identifiers can be lower case , upper case, digits, or an underscore

-> An identifier cannot start with an digit

-> keywords cannot be used as identifier

-> we cannot use special symbols like @ # $ % etc

In [10]:
picksy = "online store";
picksy

'online store'

# Comments

In [11]:
# Print hello world
print("hello world")

hello world

### Multi line comment

In [13]:
''' 
multi line
comments using
triple quotes

'''

' \nmulti line\ncomments using\ntriple quotes\n\n'

### Indentation

In [21]:
for i in range(10):
    print(i+10)
if True:
    print("\nMachine Learning")

10
11
12
13
14
15
16
17
18
19

Machine Learning

## Multi line Statement

In [31]:
a = 1+2+3+4+\
    5+6
print("a=", a)
b = (1+2+3+4+
    5+6)
print("b=" ,b)
c = 10; d = 20; e =30 # multiple staments in single line using "; "
print(c)

a= 21
b= 21
10

## Variable Assignments

In [32]:
a = 10
b = 9.9
c = "picksy"
# Multiple Assignments
e , f , g = 10 , 9.9 , "picksy"
# Same Value for multiple variables
h = i = j = "picksy"
print(c)
print(g)
print(i)

picksy
picksy
picksy

## Strings

In [39]:
s = "Picksy"
y = """Picksy online
    Store"""
print(y,type(y))
print(s , type(s))
print(s[2])

Picksy online
    Store <class 'str'>
Picksy <class 'str'>
c

In [46]:
# Slicing
print(s[1:])
print(s[:-1])
print(s[1:4])

icksy
Picks
ick

# Python Lists

In [56]:
a = [1,2,9.9,"picksy"]
print(a)
print(a[3])
a[3] = "picksy online store"  # Data can be Altered as needed
a

[1, 2, 9.9, 'picksy']
picksy

[1, 2, 9.9, 'picksy online store']

# Python Tuple

Tuples are ordered and immutable , once created cannot ne altered

In [57]:
t = (1 , 3 , "picksy")
t[2]

'picksy'

# Python Sets
set is unordered collection of unique items

In [61]:
a = { 1 , 9 , 11 , 99 , 999}
print(a)
print(type(a))

{1, 99, 999, 9, 11}
<class 'set'>

# Python Dictionaries

Dictionary is an unordered collection of key value pairs

In [65]:
d = {"a": "Picksy", "b" : "Online Store"}
print(d["b"])

Online Store

# Datatype Conversions

In [67]:
#int to float
print(float(9))
#float to int
print(int(9.9))
#int to string
str(99)

9.0
9

'99'

In [84]:
# to combine string with integers
website = "Picksy"
store = 9 
print("online store " + website + "! is the "  + str(store) + "th store")

online store Picksy! is the 9th store

In [85]:
# Convert string to list
list("picksy")

['p', 'i', 'c', 'k', 's', 'y']

# Output Formatting"

In [87]:
a = 9
b = 99
print("the vallue of a is {} & b is {} ".format(a,b))

the vallue of a is 9 & b is 99

In [88]:
print("hello {name},{greetings}".format(name="picksy",greetings="welcome to online store"))

hello picksy,welcome to online store

# python input

In [89]:
age = input("Enter your age: ")
print(age)

Enter your age: 25
25

# Operators

In [97]:
x = 10 
y = 20
print(x ** y)
print(x <= y)      #comparison
a , b = True , False #logical operators
print(a or b)

list = [ 1, 2, 3, 4]
print(1 in list) #checking wanted value is present in the list

100000000000000000000
True
True
True